aiohttp==3.7.4.post0
altgraph==0.17
async-timeout==3.0.1
attrs==21.2.0
chardet==4.0.0
discord==1.7.3
discord.py==1.7.3
dislash.py==1.4.9
future==0.18.2
idna==3.2
iso8601==0.1.16
multidict==5.1.0
pefile==2021.5.24
pyinstaller==4.5
pyinstaller-hooks-contrib==2021.2
pyserial==3.5
pywin32-ctypes==0.2.0
PyYAML==5.4.1
serial==0.0.97
typing-extensions==3.10.0.2
yarl==1.6.3
